streamlit
langchain-community
langchain-core
langchain-anthropic
langchain-openai
langchain-google-genai
langchain-groq
langchain-pinecone
langchain
langgraph
langsmith
ffmpeg-python
elevenlabs
pydub
Pillow
firecrawl-py
BeautifulSoup4
portkey_ai
wardleymap
json-repair
typing-extensions
requests_oauthlib
Authlib>=1.3.2